<!--Namespace da classe de Modelo para esta view-->
@model IEnumerable<AlimentosMvc.Models.AlimentosViewModel>
<!--Inclua os TempData para Sucesso e Erro aqui, conforme exemplo na view de Autenticação-->
@{ViewBag.Title = "Alimentos"; }<!--Título da página para o navegador-->
<h2>Alimentos</h2><!--Título da página-->
<p> <!--Links apontando para views na mesma pasta-->
@Html.ActionLink("Adicionar novo alimento", "Create")
</p>
<table class="table">
<tr><!--Títulos das colunas da tabela-->
<th>@Html.DisplayNameFor(model => model.Id)</th>
<th>@Html.DisplayNameFor(model => model.Nome)</th>
<th>@Html.DisplayNameFor(model => model.Calorias)</th>
<th>@Html.DisplayNameFor(model => model.Carboidratos)</th>
<th>@Html.DisplayNameFor(model => model.Proteinas)</th>
<th>@Html.DisplayNameFor(model => model.Gorduras)</th>
<th>@Html.DisplayNameFor(model => model.Fibras)</th>
<th></th>
</tr>
<!--Looping para escrever os dados na tabela-->
@foreach (var item in Model)
{
<tr>
<td>@Html.DisplayFor(modelItem => item.Id)</td>
<td>@Html.DisplayFor(modelItem => item.Nome)</td>
<td>@Html.DisplayFor(modelItem => item.Calorias)</td>
<td>@Html.DisplayFor(modelItem => item.Carboidratos)</td>
<td>@Html.DisplayFor(modelItem => item.Proteinas)</td>
<td>@Html.DisplayFor(modelItem => item.Gorduras)</td>
<td>@Html.DisplayFor(modelItem => item.Fibras)</td>
<td><!--Coluna para Links/botões-->
@Html.ActionLink("Editar", "Edit", new { id = item.Id } ) |
@Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
@Html.ActionLink("Deletar", "Delete", new { id = item.Id }
, new {onclick = "return confirm('Deseja realmente deletar este alimento?');"})
</td>
</tr>
}
</table>